* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  font-family: proxima-nova, sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./images/large_focal_g3020-bisate-lodge.jpg") no-repeat center center/cover;
    filter: brightness(0.5);
    background-size: cover;
    background-position: center;
    opacity: 0.7; /* Adjust the opacity as needed */
    z-index: -1;
}

.navbar {
    display: flex;
    width: 80%;
    height: 60px;
    background-color: none;
    justify-content: space-between;
    align-items: center;
    filter: brightness(1.5);
}

.navbar .logo {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.navbar nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: 60vh;
    border: 1px solid #fff;
    overflow: hidden;
}

.welcome .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    color: #fff;
    gap: 28px;
}

.welcome .left h1 {
    font-size: 3rem;
    font-weight: 600;
}

.welcome .btn {
    text-decoration: none;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.welcome .btn:hover {
    background-color: #ffffffa1;
    color: #000;
    border-radius: 56px;
}

.welcome .right {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    object-fit: contain;
    background-image: url("./images/Visit-Rwanda-Bisate-4-700x467.jpg");
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.welcome .right:hover {
    transform: scale(1.1);
}

.places {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background-color: #D3CDC9;
    gap: 48px;
    padding: 48px 0;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

.places ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    list-style: none;
    gap: 18px;
}

.places ul li {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    background-color: #ffffff74;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.4s ease-in-out;
}

.places ul li:hover {
    scale: 1.1;
}

.places ul li img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 4px;
}

.places ul li .place-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
}

.place-info .btn {
    text-decoration: none;
    padding: 12px;
    background-color: #00000077;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.place-info .btn:hover {
    background-color: #000;
    color: #fff;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin: auto;
    color: #fff;
    width: 100%;
    gap: 48px;
    padding: 48px 10%;
    text-align: center;
}

.about p {
    border: 1px solid #fff;
    padding: 24px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: #D3CDC9;
    gap: 48px;
    padding: 48px 0;
}

.contact .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: #00000077;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    padding: 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.4s ease-in-out;
}

.contact .box .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    color: #fff;
    gap: 28px;
}

.contact .box .btn {
    text-decoration: none;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.contact .box .btn:hover {
    background-color: #ffffffa1;
    color: #000;
    border-radius: 56px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
}